<h1> Edit user </h1>

<%= form_for @user do |f| %>

<p>
<%= f.label :First_name %> <br/> 
<%= f.text_field :First_name %>
</p>

<p>
<%=f.label :Last_name %> <br/>
<%= f.text_field :Last_name %>
</p>

<p>
<%=f.label :Email %> <br/>
<%= f.text_field :Email %>
</p>

<p>
<%=f.submit %>
</p>

<%= link_to "User listing", users_path %>
<% end %>