
<h1>Listing all user</h1>

<%= link_to "Create new user", new_user_path %> | <%= link_to "Back", root_path %>
<table>
<tr>
	<th>First name |</th> 
	<th>Last name |</th> 
	<th>Email</th>

</tr>

<% @user.each do |user| %>

<tr>
	<td><%= user.First_name %></td>
	<td><%= user.Last_name %></td>
	<td><%= user.Email %></td>
	<td><%= link_to 'Edit |', edit_user_path(user) %> 
	<td><%= link_to ' Delete', user_path(user), method: :delete, data: {confirm: "Are you sure?"} %></td>
	

</tr>
<% end %>
</table>
