<h1> Showing selected user</h1>
<p>
 First name: <%= @user.First_name %>
</p>
<p>
Last name: <%= @user.Last_name %>
</p>
<p>
Email: <%= @user.Email %>
</p>
	<div class="user-actions">
		<%= link_to "Edit this user ", edit_user_path(@user) %> |<%= link_to "Delete this user ", user_path(@user), method: :delete, data: {confirm: "Are you sure you want to delete the article?"} %> | <%= link_to "User listing ", users_path %>  
	</div>